.nav-bar_container_{
    position: fixed;
    top: 0;
    width: 100%;
}
.nav-bar_{
    background-color: rgb(9, 41, 88);
    padding: 10px 20px;
    display: flex;
    justify-content:space-between;
    height: 10vh;
   
}
.sigin-btn_ button{
    padding: 5px 7px;
    border: none;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    font-weight: 500;
    border-radius: 11px;
    font-family:Arial, Helvetica, sans-serif;
    box-shadow: 0 0 2px white;
    cursor: pointer;
    transition: 2ms;
 
}
.sigin-btn_ button:hover{
    transform: scale(1.1);
    background-color: white;
}
.nav-head_ h2{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    opacity: 0.9;
    font-size: 16px;
    text-shadow: 2px 0 12px black;
    
}