.nav-bar-container{
    position: fixed;
    top: 0;
    width: 100%;
}
.nav-bar{
    background-color: rgb(9, 41, 88);
    padding: 10px 20px;
    display: flex;
    justify-content:space-between;
    height: 8vh;
   
}
.sigin-btn button{
    padding: 9px 18px;
    border: none;
    background-color: rgb(2, 18, 32);
    color: rgb(245, 238, 238);
    font-weight: 600;
    border-radius: 11px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-shadow: 0 0 3px white;
    cursor: pointer;
}
.nav-head h2{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    opacity: 0.9;
    text-shadow: 2px 0 12px black;
    
}